body{
    background-color: rgb(73, 151, 216);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

header{

    background-position: 5%;
    line-height: 170px;
    min-height: 120px;
    color: white;
    text-shadow: 0 0 3px black;
    text-align: center;
    font-size: 200%;
    border-radius: 20px;
}

footer{
    background-color: black;
    color: white;                                                                                                                                                                                                                                                                                                                                                                       
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

main{
    padding: 10px;
}

.container{
    background-color: #84AFE6;

    padding: 10px;
    border-radius: 20px;    
}
a{
    font-size: 10px;
    text-decoration: none;
    color: white;
}

a:hover{
    font-size: 14px;
}

img{
    width: 60%;
}

table {
    border-collapse: collapse;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
